/* common css */
h1{
    font-size: 3.8rem;
}

.global-button {
    color: white;
    background-color: #A0B940;
    padding: 10px 30px;
    border-radius: 5px;
}
/* common css */
/* Header section */
.header{
    background-color: #fffbf0;
    height: 100vh;
}
.logo {
  width: 250px;
}
a{
    text-decoration: none;

}
span{
    color: orange;
}












@media (min-width: 992px) {
  .navbar-expand-lg .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
    justify-content: flex-end;
  }
}
@media (min-width: 1200px){
h1 {
    font-size: 2.5rem;
}}

